@import 'variables', 'fonts';

//General styling
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    p {
      color: black;
      font-size: 14px; 
    }
}
    
main {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    h1 {
        font-size: 60px;
    }
}